@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffff;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.splash-animation {
  animation: splash 1s ease-out forwards;
}

.bigger-animation {
  animation: bigger 1s ease-out forwards;
}

.progress-bar-container {
  width: 80%;
  height: 10px;
  background-color: #CBCFEC;
  overflow: hidden;
  animation: fadeOut 2s 8s forwards;
}

.progress-bar {
  width: 0;
  height: 100%;
  background-color: #588cf0;
  transition: width 2.5s;
  animation: progressAnimation 8s linear forwards;
}

.slide-up-fade-in {
  animation: slideUpFadeIn 1.2s forwards;
}

@keyframes splash {
  0% {
    transform: scale(1) rotate(0deg);
    opacity: 0;
  }
  50% {
    transform: scale(1.2) rotate(180deg);
    opacity: 1;
  }
  100% {
    transform: scale(1) rotate(360deg);
    opacity: 1;
  }
}

@keyframes bigger {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes progressAnimation {
  0% {
    width: 0%;
  }
  16.67% {
    width: 100%;
  }
  17% {
    width: 0%;
  }
  33.33% {
    width: 100%;
  }
  34% {
    width: 0%;
  }
  50.67% {
    width: 100%;
  }
  51% {
    width: 0%;
  }
  66.66% {
    width: 100%;
  }
  67% {
    width: 0%;
  }
  83.67% {
    width: 100%;
  }
  84% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slideUpFadeIn {
  from {
    transform: translateY(20px);
    opacity: 0.5;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}